{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Thanks for your registration!</h1>
    <p>
        A confirmation email has been sent to you at <code>{{ user.email }}</code>.
    </p>
    <p>
        It should arrive shortly.
    </p>

{% endblock %}
